name: Bun React Tests CI

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: jwt-vite

    steps:
      - uses: actions/checkout@v4

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.9

      - name: Függőségek telepítése
        run: bun install

      - name: Tesztek futtatása
        run: bun test --env browser
